In [41]:
import requests
import json 
import pandas as pd

In [42]:
API_KEY = 'b0cb6845a8e8cf27cfe4b59531379082'  # Reemplazar con tu API Key de OpenWeather
ciudad = 'Urumita'
id_city = '3666381'
#url = f'https://api.openweathermap.org/data/2.5/weather?id={id_city}&appid={API_KEY}&units=metric'
url = f'http://api.openweathermap.org/data/2.5/weather?q={ciudad}&appid={API_KEY}&units=metric'

In [43]:
respuesta = requests.get(url)

if respuesta.status_code == 200:
    datos = respuesta.json()
    if 'main' in datos and 'weather' in datos:
        temperatura_actual = datos['main']['temp']
        descripcion_clima = datos['weather'][0]['description']
        print(f'Temperatura actual en {ciudad}: {temperatura_actual}°C')
        #print(f'Temperatura actual en {id_city}: {temperatura_actual}°C')
        #print(f'Descripción del clima: {descripcion_clima}')
    else:
        print('Error: No se encontraron los datos esperados en la respuesta.')
else:
    print(f'Error: No se pudo obtener los datos del clima. Código de estado: {respuesta.status_code}')

Temperatura actual en Urumita: 23.23°C

In [36]:
# Reemplazar con tu API Key de OpenWeather
API_KEY = 'b0cb6845a8e8cf27cfe4b59531379082'

# Lista de ciudades colombianas
ciudades = ['Bogota', 'Medellin', 'Cali', 'Barranquilla', 'Cartagena', 'Cúcuta', 'Bucaramanga', 'Pereira', 'Santa Marta', 'Ibagué']

# Lista para almacenar los datos de temperatura
datos_temperatura = []

for ciudad in ciudades:
    url = f'http://api.openweathermap.org/data/2.5/weather?q={ciudad},CO&appid={API_KEY}&units=metric'
    respuesta = requests.get(url)

    if respuesta.status_code == 200:
        datos = respuesta.json()
        if 'main' in datos:
            temperatura_actual = datos['main']['temp']
            datos_temperatura.append({'Ciudad': ciudad, 'Temperatura': temperatura_actual})
        else:
            print(f'Error: No se encontraron los datos de temperatura para {ciudad}.')
    else:
        print(f'Error: No se pudo obtener los datos del clima para {ciudad}. Código de estado: {respuesta.status_code}')

# Crear un DataFrame de Pandas con los datos de temperatura
df_temperatura = pd.DataFrame(datos_temperatura)

print(df_temperatura)

         Ciudad  Temperatura
0        Bogota        19.73
1      Medellin        27.82
2          Cali        31.00
3  Barranquilla        30.88
4     Cartagena        30.79
5        Cúcuta        31.97
6   Bucaramanga        25.73
7       Pereira        23.56
8   Santa Marta        30.50
9        Ibagué        26.95

In [44]:
df_temperatura

         Ciudad  Temperatura
0        Bogota        19.73
1      Medellin        27.82
2          Cali        31.00
3  Barranquilla        30.88
4     Cartagena        30.79
5        Cúcuta        31.97
6   Bucaramanga        25.73
7       Pereira        23.56
8   Santa Marta        30.50
9        Ibagué        26.95